cycler==0.10.0
Cython==0.24
dask==0.8.2
decorator==4.0.9
filelock==2.0.6
gdown==2.0.0
h5py==2.6.0
matplotlib==1.5.1
networkx==1.11
nose==1.3.7
numpy==1.11.0
Pillow==3.2.0
plyvel==0.9
protobuf==2.6.1
progressbar2==3.6.2
pyparsing==2.1.1
python-dateutil==2.5.3
pytz==2016.4
scikit-image==0.12.3
scikit-learn==0.17.1
scipy==0.17.1
six==1.10.0
toolz==0.7.4
